.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
  }

  main {
    flex-grow: 1;
  }
  
  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }

  footer {
    background-color: #333; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 10px;
  }