.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

main {
  flex-grow: 1;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s;
  margin: 3rem 0;

  &:hover {
    color: black;
  }
}

.heading {
  color: black;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
  font-size: large;
  text-decoration: none;
}

a {
  text-decoration: underline;
  color: black;
  transition: color 0.3s;

  &:hover {
    text-decoration: none;
    color: #ff0000;
  }
}

.container-box {
  margin-top: 35px;
  padding: 20px;
  padding-top: 0.5px;
  border-radius: 5px;
  /* box-shadow: 0px 5px 15px black; */
  border: solid gray;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.3);
    background-color: #f0f0f0;
  }
}

.tile-link {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.bottom-up-start {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-content {
  text-align: center;
}

footer {
  background-color: #333;
  /* Set your desired background color */
  color: #fff;
  /* Set your desired text color */
  padding: 10px;
}

/* Centered footer */
.centered-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}